-var title = ['Безопасность встреч','Конфиденциальность','Опытные эксперты-коллекционеры','Работаем со всеми городами Украины'];
-var text = ['Офис охраняется и находится в центре Киева','Обеспечиваем конфиденциальность и безопасность ваших данных','Объективная оценка по международным критериям','Оцениваем онлайн с возможностью покупки через наложенный платеж или в киевском офисе'];
.row
	each i in [0, 1, 2, 3]
		.col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
			article.why
				.why__inner
					.why__icon
						img(src="images/why/p-"+(i+1)+".png", alt="")
					h4.why__title= title[i]
					p.why__text= text[i]