.form.js-ask-form
	.row
		.col.col--6-of-12
			.form__field
				input(type="tel", name="", placeholder="Телефон*").input
		.col.col--6-of-12
			.form__field
				input(type="text", name="", placeholder="Имя").input
	.row
		.col.col--6-of-12
			.form__field
				input(type="tel", name="", placeholder="Город").input
		.col.col--6-of-12
			.form__field
				input(type="email", name="", placeholder="Email").input
	.row
		.col.col--12-of-12
			.form__field
				textarea(placeholder="Текст вашего сообщения").textarea
	.row
		.col.col--12-of-12
			.form__field
				each i, index in [31,32,33]
					.form__upload
						label(for='file-'+i).form__upload-img
							img(src="images/upload.png", alt="", data-upload="file-"+i)
						input(id="file-"+i, type='file', name='file-'+i).form__upload-file
						label(for='file-'+i).form__upload-label 
							| фото 
							=(index+1)
				button(type="submit").btn.btn-primary Задать вопрос
		.col.col--12-of-12
			.form__text.is--center После отправки заявки наоценку течении дня с вами свяжеться наш эксперт