-var text = ['1. Вы оставляете заявку и отправляете нам фотографии монеты','2. Вы можете набрать нас по телефону и договориться об оценке','3. Вы можете прийти к нам в офис в рабочие часы','4. Вы можете написать нас в мессенджере, и отправить фотографии вашего антиквариата'];
.row
	each i in [0, 1, 2, 3]
		.col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
			.how
				.how__inner
					a(href="").how__icon
						img(src="images/how-we-works/p-"+(i+1)+".png", alt="")
					p.how__text= text[i]