#map.map

script.
	function initMap() {
		var topperz = {lat: 50.446847, lng: 30.511860};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: topperz,
		styles: [{
			"stylers": [
					{
							"saturation": -100
					},
					{
							"gamma": 1
					}
				]
			},
			{
					"elementType": "labels.text.stroke",
					"stylers": [
							{
									"visibility": "off"
							}
					]
			},
			{
					"featureType": "poi.business",
					"elementType": "labels.text",
					"stylers": [
							{
									"visibility": "off"
							}
					]
			},
			{
					"featureType": "poi.business",
					"elementType": "labels.icon",
					"stylers": [
							{
									"visibility": "off"
							}
					]
			},
			{
					"featureType": "poi.place_of_worship",
					"elementType": "labels.text",
					"stylers": [
							{
									"visibility": "off"
							}
					]
			},
			{
					"featureType": "poi.place_of_worship",
					"elementType": "labels.icon",
					"stylers": [
							{
									"visibility": "off"
							}
					]
			},
			{
					"featureType": "road",
					"elementType": "geometry",
					"stylers": [
							{
									"visibility": "simplified"
							}
					]
			},
			{
					"featureType": "water",
					"stylers": [
							{
									"visibility": "on"
							},
							{
									"saturation": 50
							},
							{
									"gamma": 0
							},
							{
									"hue": "#50a5d1"
							}
					]
			},
			{
					"featureType": "administrative.neighborhood",
					"elementType": "labels.text.fill",
					"stylers": [
							{
									"color": "#333333"
							}
					]
			},
			{
					"featureType": "road.local",
					"elementType": "labels.text",
					"stylers": [
							{
									"weight": 0.5
							},
							{
									"color": "#333333"
							}
					]
			},
			{
					"featureType": "transit.station",
					"elementType": "labels.icon",
					"stylers": [
							{
									"gamma": 1
							},
							{
									"saturation": 50
							}
					]
			}],
		});
		var marker = new google.maps.Marker({
		position: topperz,
		map: map,
		icon: 'images/pointer.png'
	});
	}
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCbR8xpKsCCuj-3AZ9oHMHat8vR621poH0&callback=initMap')