// MENU
nav.mobile-nav
  //- .mobile-nav__icon.js-nav-toggle
  //-   i.sprite-close
  .mobile-nav__icon.mobile-nav__toggle.js-nav-toggle
    span
  .mobile-nav__inner
    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-1.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Монеты
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Монеты Царской России
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Монеты СССР
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Монеты мира
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Монеты Украины

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-2.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Часы
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Наручные часы
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Корманные часы

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-3.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Ордена
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Ордена 2й мировой войны
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Ордена СССР

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-4.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Банкноты
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Банкноты царской России
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Банкноты других стран

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-5.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Столовое серебро
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Серебренные сервизы
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Серебренные ложки
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Серебренные вилки
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Позолоченное серебро

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-6.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Иконы
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Иконы богоматери
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Иконы Иисуса
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Иконы Михаила чудотворца

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-7.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Книги
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Библии
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Другие книги

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-8.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Изделия из Янтаря
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Бусы из янтаря
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Шкатулки из янтаря
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Броши из янтаря

    .mobile-nav__block
      a(href="").mobile-nav__block-icon
        img(src="images/menu/m-9.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Коралловые бусы
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Бусы из красного коралла
        li.mobile-nav__item
          a.mobile-nav__link(href='catalog.html') Бусы из белого коралла


  .mobile-nav__footer
    .row
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        .row
          .col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
            nav.footer-menu
              h5.footer-menu__title Меню
              ul.footer-menu__list
                li.footer-menu__item
                  a(href="index.html").footer-menu__link ГЛАВНАЯ
                li.footer-menu__item
                  a(href="").footer-menu__link ГАРАНТИИ
                li.footer-menu__item
                  a(href="reviews.html").footer-menu__link ОТЗЫВЫ
          .col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
            nav.footer-menu.is--no-title
              ul.footer-menu__list
                li.footer-menu__item
                  a(href="blog.html").footer-menu__link Блог
                li.footer-menu__item
                  a(href="contacts.html").footer-menu__link Контакты
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        nav.footer-menu
          h5.footer-menu__title Адрес
          ul.footer-menu__list
            li.footer-menu__item 
              span г. 
              | Киев
            li.footer-menu__item 
              span м. 
              | Театральная
            li.footer-menu__item 
              span ул. 
              | крещатик, 6
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        nav.footer-menu
          h5.footer-menu__title Месенджеры
          .social
            a(href="").social__link.social__viber
              i.icon-viber
            a(href="").social__link.social__telegram
              i.icon-telegram
            a(href="").social__link.social__whatsup
              i.icon-whatsup
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        nav.footer-menu
          h5.footer-menu__title Контакты
          ul.footer-menu__list
            li.footer-menu__item
              a(href="+380505554466").footer-menu__link +38 (050) 555-44-66
            li.footer-menu__item
              a(href="+380675554466").footer-menu__link +38 (067) 555-44-66
            li.footer-menu__item
              a(href="+380935554466").footer-menu__link +38 (093) 555-44-66
            li.footer-menu__item
              a(href="mailto:info@sophie-decor.com.ua").footer-menu__link 
                span info@sophie-decor.com.ua



