// MENU
nav.mobile-nav
  //- .mobile-nav__icon.js-nav-toggle
  //-   i.sprite-close
  .mobile-nav__icon.mobile-nav__toggle.js-nav-toggle
    span
  .mobile-nav__inner
    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-1.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Монеты
        li.mobile-nav__item
          a.mobile-nav__link(href='') Монеты Царской России
        li.mobile-nav__item
          a.mobile-nav__link(href='') Монеты СССР
        li.mobile-nav__item
          a.mobile-nav__link(href='') Монеты мира
        li.mobile-nav__item
          a.mobile-nav__link(href='') Монеты Украины

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-2.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Часы
        li.mobile-nav__item
          a.mobile-nav__link(href='') Наручные часы
        li.mobile-nav__item
          a.mobile-nav__link(href='') Корманные часы

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-3.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Ордена
        li.mobile-nav__item
          a.mobile-nav__link(href='') Ордена 2й мировой войны
        li.mobile-nav__item
          a.mobile-nav__link(href='') Ордена СССР

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-4.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Банкноты
        li.mobile-nav__item
          a.mobile-nav__link(href='') Банкноты царской России
        li.mobile-nav__item
          a.mobile-nav__link(href='') Банкноты других стран

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-5.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Столовое серебро
        li.mobile-nav__item
          a.mobile-nav__link(href='') Серебренные сервизы
        li.mobile-nav__item
          a.mobile-nav__link(href='') Серебренные ложки
        li.mobile-nav__item
          a.mobile-nav__link(href='') Серебренные вилки
        li.mobile-nav__item
          a.mobile-nav__link(href='') Позолоченное серебро

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-6.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Иконы
        li.mobile-nav__item
          a.mobile-nav__link(href='') Иконы богоматери
        li.mobile-nav__item
          a.mobile-nav__link(href='') Иконы Иисуса
        li.mobile-nav__item
          a.mobile-nav__link(href='') Иконы Михаила чудотворца

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-7.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Книги
        li.mobile-nav__item
          a.mobile-nav__link(href='') Библии
        li.mobile-nav__item
          a.mobile-nav__link(href='') Другие книги

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-8.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Изделия из Янтаря
        li.mobile-nav__item
          a.mobile-nav__link(href='') Бусы из янтаря
        li.mobile-nav__item
          a.mobile-nav__link(href='') Шкатулки из янтаря
        li.mobile-nav__item
          a.mobile-nav__link(href='') Броши из янтаря

    .mobile-nav__block
      .mobile-nav__block-icon
        img(src="images/menu/m-9.png", alt="")
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='') Коралловые бусы
        li.mobile-nav__item
          a.mobile-nav__link(href='') Бусы из красного коралла
        li.mobile-nav__item
          a.mobile-nav__link(href='') Бусы из белого коралла


  .mobile-nav__footer
    .row
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        .row
          .col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
            nav.footer-menu
              h5.footer-menu__title Меню
              ul.footer-menu__list
                li.footer-menu__item
                  a(href="").footer-menu__link ГЛАВНАЯ
                li.footer-menu__item
                  a(href="").footer-menu__link ГАРАНТИИ
                li.footer-menu__item
                  a(href="reviews.html").footer-menu__link ОТЗЫВЫ
          .col.col--6-of-12.col--s-12-of-12.col--m-6-of-12.col--l-6-of-12
            nav.footer-menu.is--no-title
              ul.footer-menu__list
                li.footer-menu__item
                  a(href="blog.html").footer-menu__link Блог
                li.footer-menu__item
                  a(href="contacts.html").footer-menu__link Контакты
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        nav.footer-menu
          h5.footer-menu__title Адрес
          ul.footer-menu__list
            li.footer-menu__item 
              span г. 
              | Киев
            li.footer-menu__item 
              span м. 
              | Театральная
            li.footer-menu__item 
              span ул. 
              | крещатик, 6
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        nav.footer-menu
          h5.footer-menu__title Месенджеры
          .social
            a(href="").social__link.social__viber
              i.icon-viber
            a(href="").social__link.social__telegram
              i.icon-telegram
            a(href="").social__link.social__whatsup
              i.icon-whatsup
      .col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
        nav.footer-menu
          h5.footer-menu__title Контакты
          ul.footer-menu__list
            li.footer-menu__item
              a(href="+380505554466").footer-menu__link +38 (050) 555-44-66
            li.footer-menu__item
              a(href="+380675554466").footer-menu__link +38 (067) 555-44-66
            li.footer-menu__item
              a(href="+380935554466").footer-menu__link +38 (093) 555-44-66
            li.footer-menu__item
              a(href="mailto:info@sophie-decor.com.ua").footer-menu__link 
                span info@sophie-decor.com.ua



