<!-- MODAL -->
div(style='display:none')
	// Ask the question
	#ask.arcticmodal.box-modal
		.arcticmodal-header
			| Задать нам вопрос
			.box-modal_close.arcticmodal-close
				i.icon-close
		.arcticmodal-body
			include ask-form.pug
	// /Ask the question 