-var reviewTitle = ['25 рублей 1852 года','Орден “За храбрость” 1852 года','Серебренный набор стаканов'];
-var reviewText = ['«Спасибо! Удачно продал купюру! Покупатель надежный»','Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.','«Здравствуйте! деньги получила! Всем советую сотрудничать! »'];
-var reviewAuthor = ['Кассина Екатерина','Егор','ket1991'];

	each k in [0,1]
		each i in [0,1,2]
				article.review
					.review__inner
						.review__photo
							img(src="images/reviews/r-1.jpg", alt="")
						.review__content
							h4.review__title= reviewTitle[i]
							.review__author
								= reviewAuthor[i]
								span.review__date 25.08.2017
							p.review__text= reviewText[i]