-var className = (className)?className:'';
div(class="valuation "+className)
	.valuation__header-wrapper
		.valuation__header
				| Оценка антиквариата 
				span по фото
	.valuation__content
		form.valuation__form.js-valuation-form--horizontal
			.valuation__step
				.valuation__step-title 1. Загрузите фото антиквариата
				.valuation__form-field
				each i, index in [91,92,93,94,95,96]
					.valuation__upload
						label(for='file-'+i).valuation__upload-img
							img(src="images/upload.png", alt="", data-upload="file-"+i)
						input(id="file-"+i, type='file', name='file-'+i).valuation__upload-file
						label(for='file-'+i).valuation__upload-label 
							| фото 
							=(index+1)
						
			.valuation__step.is--gray
				.valuation__step-title 2. Оставьте контактные данные
				.valuation__form-field
					input(type="text", name="name", placeholder="Имя").is--center
				.valuation__form-field
					input(type="tel", name="phone", placeholder="Телефон*").is--center
				.valuation__form-field
					input(type="email", name="email", placeholder="Email").is--center
				.valuation__step-text После отправки заявки на оценку, в течении 24 часов с Вами свяжется наш эксперт
				.valuation__action
					button(type="submit").btn.btn-primary Получить цену