.content{
	padding: 44px 67px;
	box-shadow: 0 11px 13px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	@include media('<768px'){
		padding: 20px 30px;
	}
	&.is--have-prev{
		@include media('<640px'){
			padding: 18px 15px;
		}
	}
	&.is--gray{
		background-color: #fafafa;
	}
	&:first-child{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&:last-child{
		margin-bottom: 30px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
.content__header{
	margin: 0 0 45px;
	font-size: 42px;
	font-weight: 900;
	line-height: 45px;
	color: $color__secondary;
	@include media('<768px'){
		margin: 0 0 25px;
		font-size: 32px;
		font-weight: 900;
		line-height: 36px;
	}
	&.is--center{
		text-align: center;
	}
}