.widget{
	margin: 0 0 30px;
	border-radius: 0 0 5px 5px;
}
.widget__header{
	position: relative;
	padding: 18px 28px;
	border-radius: 8px 8px 0 0;
	background-color: #428ea8;
	background-image: url('../images/wh-bg.png'), linear-gradient(-253deg, #172953 0%, #172953 48%, #428ea8 100%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.widget__title{
	font-size: 22px;
	font-weight: 900;
	line-height: 24px;
	color: #fff;
}
.widget__content{
	padding: 17px 0 22px;
	background-color: #fff;
	box-shadow: 0 11px 13px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 5px 5px;

	&.is--text-bg{
		background-image: url('../images/ocenka-bg.png');
		background-repeat: no-repeat;
		background-position: right bottom;
		background-position-x: 200px;
	}
	&.is--coin-bg{
		background-image: url('../images/coin-bg.png');
		background-repeat: no-repeat;
		background-position: right bottom;
	}
}
.widget__list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget__list-item{
	position: relative;
	padding: 7px 0 6px 43px;
	opacity: 0.8;
	&.is--active{
		background: linear-gradient(to right, rgba(234,234,234,1) 55%,rgba(234,234,234,0.51) 65%,rgba(0,0,0,0) 100%);

		a{
			color: #ff4b55;
		}
	}
	i{
		position: absolute;
		left: 13px; top: 13px;
	}
}
.widget__list-link{
	display: block;
	font-size: 12px;
	font-weight: 300;
	line-height: 21px;
	color: $color__secondary;
	text-decoration: none;
	transition: all 300ms linear;
	&:hover{
		color: #ff4b55;
	}
}