extends pug/base

append vars
	- html.classList.push('page--catalog')
block content
	section.section.section--bg-1
		.container
			.row
				main.main.col.col--9-of-12.col--s-12-of-12.col--m-9-of-12
					.content
						h2.content__header Оценка старинных монет
						-var categories = ['Золотые монеты','Серебрянные  монеты','Медные монеты','Юбилейные монеты','Другие монеты'];
						.row
							each category, i in categories
								.col.col--4-of-12.col--s-12-of-12.col--m-6-of-12.col--l-4-of-12
									a(href="").subcategory
										span.subcategory__inner
											span.subcategory__title= category
											span.subcategory__photo: img(src="images/coins/i-"+(i+1)+".png", alt="")

						br

						p Серебряные монеты Австралии — еще одни востребованные изделия, которые стремятся купить многие нумизматы и коллекционеры. Экземпляры пользуются популярностью не только из-за драгоценного металла, но и оригинального дизайна. На многих монетах изображен на аверсе портрет королевы Елизаветы II, а на обратной стороне можно увидеть одно из животных-символов китайского календаря. У вас, как оказалось, есть одна из таких монет? Тогда вам крупно повезло — ее можно продать дорого по очень выгодной цене. Не знаете, сколько запросить за изделие? Зачем теряться в догадках и рисковать собственными деньгами, когда в нашей компании вам не только оценят имеющийся коллекционный предмет, но и предложат за него весьма достойную сумму.
						h3 Популярные серебряные изделия
						p Австралия начала заниматься выпуском собственных монет совсем недавно, поэтому очень древних изделий из этой страны просто нет. Но серебряные монеты современности пользуются не меньшим спросом у коллекционеров. Особенно это касается экземпляров, выпущенных небольшим тиражом. Сегодня можно встретить редкие изделия, в изготовлении которых использовалось серебро 999 пробы. С одной стороны, как правило, изображен профиль королевы, а с другой можно увидеть:
						p Эти монеты уже сейчас представляют немалую ценность, но что будет через десятки или сотни лет? Австралия станет очередной страной, в которой есть столь ценные и значимые монеты, ведь неизвестно, что будет через определенное количество лет.
						p Если вам нужна оценка, или вы хотите продать платежные средства Австралии, пишите в нашу компанию. Мы предоставим полную информацию о процессе оценивания и предварительной стоимости вашего коллекционного предмета. Специалисты тщательно изучат состояние изделия, серебро, использованное при изготовлении монет, и смогут предъявить весьма выгодную цену для вас.
				aside.sidebar.col.col--3-of-12.col--s-12-of-12.col--m-3-of-12.is--no-padding
					-var title = 'Монеты';
					-var texts = ['Золотые монеты','Серебрянные  монеты','Медные монеты','Юбилейные монеты','Другие монеты'];
					-var bgClass = 'is--coin-bg';
					include pug/parts/catalogue.pug

					include pug/parts/valuation-2.pug
	-var className = 'section--bg-1';
	include pug/section/last-antiques.pug

block body-end