extends pug/base

append vars
	- html.classList.push('page--contacts')
block content
	section.section.section--bg-1
		.container
			main.main
				.content
					.video.js-video
						iframe(src="https://www.youtube.com/embed/gFY6Ch6Ajb0" frameborder="0" allowfullscreen)
block body-end
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js')
	script.
		$(document).ready(function(){
			$(".js-video").fitVids();
		});