extends pug/base

append vars
  - html.classList.push('page--index')

block content
  section.section.section--promo
    .container.is--huge
      .row
        .col.col--7-of-12.col--s-12-of-12.col--m-12-of-12.col--l-7-of-12
          .row
            .col.col--7-of-12.col--s-12-of-12.col--m-12-of-12.col--l-12-of-12
              .section__header-huge Оценка и покупка антиквариата по самым высоким ценам
              .section__action
                a(href="").btn-special Смотреть видео
          .block
            p.block__subheader.is--big Оценка производиться по всей Украине
            h3.block__header.is--big У нас вы можете оценить
              br
              | и продать антиквариат:
        .col.col--5-of-12.col--s-12-of-12.col--m-12-of-12.col--l-5-of-12
          -var className = " is--left is--decorated";
          include pug/parts/valuation-2.pug

      -var menuItems = ['Монеты','Фарфор','Награды','Банкноты',' Столовое серебро','Иконы','Книги','Изделия из янтаря','Другой антиквариат'];
      nav.groups
        ul.groups__list
          each menuItem, i in menuItems
            li.groups__item
              a(href="catalog.html").groups__link
                img(src="images/menu/m-"+(i+1)+".png", alt="")
                span= menuItem
  section.section.section--estimate
    .container.is--narrow
      h2.section__header.is--simple
        | Как мы оцениваем 
        br
        | Ваш антиквариат
      .row
        .col.col--8-of-12.col--s-12-of-12.col--m-12-of-12.col--l-8-of-12.is--text-right
          .js-video
            //- iframe(src="https://www.youtube.com/embed/gFY6Ch6Ajb0" frameborder="0" allowfullscreen)
            img(src="images/video.jpg", alt="")
        .col.col--4-of-12.col--s-12-of-12.col--m-12-of-12.col--l-4-of-12
          .block
            .block__subheader.is--big.is--underline Вы еще не рашили где оценить свой антиквариат?
            .block__text.is--margin Если вас интересует продажа антиквариата в Киеве с бесплатной оценкой, лучше сразу обращаться  в наш антикварный салон по скупке предметов старины. Мы формируем цену исходя из таких характеристик как степень редкости, сохранность и подлинность. В то время  как   в антикварном ломбарде скупка антикварных изделий проводится на основании двух ключевых факторов: только проверки пробы и веса драгоценных металлов. Таким образом, в ломбарде вы получите до 50% от реальной стоимости изделия, а мы ценим выше и предлагаем до 90% от рыночной цены, так как для нас важна и историческая ценность предмета.  Высокая цена покупки также обусловлена нашим желанием выстраивать с вами долгосрочные отношения, и мы стремимся завоевать ваше доверие.  Обратите внимание, что оценка по фото – предварительна, поэтому цена при встрече может измениться – как в большую (если предмет в живую лучше, чем по фото), так и в меньшую сторону (если будут обнаружены невидимые на фото дефекты).
            .block__action
              a(href="", data-modal="ask").btn-primary.is--md Задать вопрос
  section.section.section--why
    .container
      .row
        .block.is--mb
          .col.col--5-of-12.col--s-12-of-12.col--m-12-of-12.col--l-5-of-12
              p.block__subheader.is--big Вы еще не рашили где оценить свой антиквариат?
              h3.block__header.is--big Почему лучше обращаться к нам!
          .col.col--7-of-12.col--s-12-of-12.col--m-12-of-12.col--l-7-of-12
            p.block__text У экспертов антикварного салона – многолетний опыт работы, в процессе которого была проведена оценка стоимости антиквариата в Киеве и по всей Украине, а именно монет царской России, СССР, Украины, банкнот, медалей и наград, других предметов старины. Мы гарантируем объективную оценку, так как заинтересованы в сохранении своей репутации. Оценка предмета – абсолютно бесплатная и если вас не устраивает цена или вы передумали продавать вещь, мы на любом этапе можем прекратить сотрудничество.
      include pug/index/why.pug
  section.section.section--testimonials
    .container.is--huge
      h2.section__header Отзывы
      p.section__text У вас есть антикварные изделия или старинные вещи, которые могут представлять интерес для коллекционеров? Вас интересует продажа антиквариата в Киеве? Вы хотите, чтобы ваши вещи объективно оценили и выгодно купили? На сайте ocenka-pokupka.com.ua доступна бесплатная оценка предметов с возможностью дальнейшей продажи. Цены – выше, чем в ломбардах, ведь мы проводим экспертную оценку, тогда как работники ломбардов часто оценивают вещи только визуально или по массе драгоценных металлов в составе. Почитайте, что говорят о нас клиенты:
      .view-toggle.js-testimonials-wrapper
        .view-toggle__content
          include pug/parts/testimonial.pug
        .view-toggle__action
          .btn-bordered--alt.js-more-testimonials Еще отзывы

  section.section.section--how-we-works
    .container
      h2.section__header.section__header--alt Как мы работаем
      include pug/parts/how.pug

  include pug/section/last-antiques.pug

block body-end
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js')
  script.
    $(document).ready(function(){
      $(".js-video").fitVids();
    });