extends pug/base

append vars
	- html.classList.push('page--post')
block content
	section.section.section--bg-1
		.container
			.row
				main.main.col.col--9-of-12.col--s-12-of-12.col--m-9-of-12
					.content
						h2.content__header Монеты в Киеве
						article.post
							.post__photo
								img(src="images/post/p-1.jpg", alt="")
							p.post__text Всем известна ситуация, когда находишь старые монеты и не знаешь, что с ними делать. С одной стороны, они не нужны, а с другой — вдруг представляют ценность? Вы всегда можете продать монеты в Киеве нашей фирме. Мы осуществляем бесплатную оценку нумизматического материала и даем за него хорошую цену.
						p.post__text Продажа коллекционных металлических денег неизвестному покупателю всегда сопряжена с определенными рисками. Мы — легальная фирма, ведущая прозрачный бизнес, уже заслужившая репутацию честных партнеров. Продать нам монеты можно как непосредственно, посетив наш офис в Киеве, так и через интернет.
							h3.post__title Важные подробности
							p.post__text Продажа металлических денежных знаков может принести приличную прибыль. Ценность нумизматического материала зависит от многих факторов. Утверждать, что чем древнее монеты, тем они дороже, нельзя. Современный денежный знак может стоить значительно дороже многих старых. На стоимость влияет совокупность следующих факторов:
							h3.post__title Наши услуги
							p.post__text Продажа ценного нумизматического материала может значительно поправить ваше материальное положение. Наша фирма по высланному вами фото готова бесплатно оценить монеты и предложит за них самую высокую цену в стране. Конечно, на аукционах стоимость может быть выше, но там хлопот и дополнительных расходов будет гораздо больше.
							p.post__text Мы покупаем отечественные и иностранные монеты любого года выпуска. Сотрудничество с нами — это:
							p.post__text Продать нам легко и выгодно! Вы можете владеть сокровищами, не подозревая об этом. Не спешите выбрасывать то, что может сделать вас богатыми!



				aside.sidebar.col.col--3-of-12.col--s-12-of-12.col--m-3-of-12.is--no-padding
					-var title = 'Антиквариат';
					-var bgClass = 'is--text-bg';
					include pug/parts/widget.pug
										
					include pug/parts/valuation-2.pug



block body-end