$sprites: (
	"arr-left": (
		normal: (
			x: 139,
			y: 0,
			width: 17,
			height: 69,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 278,
			y: 0,
			width: 34,
			height: 138,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"arr-right": (
		normal: (
			x: 158,
			y: 0,
			width: 17,
			height: 69,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 316,
			y: 0,
			width: 34,
			height: 138,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"arrow-down": (
		normal: (
			x: 158,
			y: 71,
			width: 15,
			height: 9,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 316,
			y: 142,
			width: 30,
			height: 18,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"close": (
		normal: (
			x: 61,
			y: 95,
			width: 19,
			height: 19,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 122,
			y: 190,
			width: 38,
			height: 38,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"email": (
		normal: (
			x: 0,
			y: 95,
			width: 37,
			height: 27,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 0,
			y: 190,
			width: 74,
			height: 54,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"mail-hover": (
		normal: (
			x: 0,
			y: 50,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 0,
			y: 100,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"mail": (
		normal: (
			x: 45,
			y: 50,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 90,
			y: 100,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"phone": (
		normal: (
			x: 33,
			y: 124,
			width: 31,
			height: 31,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 66,
			y: 248,
			width: 62,
			height: 62,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"play": (
		normal: (
			x: 0,
			y: 0,
			width: 48,
			height: 48,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 0,
			y: 0,
			width: 96,
			height: 96,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"search": (
		normal: (
			x: 39,
			y: 95,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 78,
			y: 190,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"telegram": (
		normal: (
			x: 50,
			y: 0,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 100,
			y: 0,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"viber-left": (
		normal: (
			x: 0,
			y: 124,
			width: 31,
			height: 31,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 0,
			y: 248,
			width: 62,
			height: 62,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"viber": (
		normal: (
			x: 95,
			y: 45,
			width: 42,
			height: 43,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 190,
			y: 90,
			width: 84,
			height: 86,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
	"whatsup": (
		normal: (
			x: 95,
			y: 0,
			width: 42,
			height: 43,
			image: "sprites.png",
			total_width: 175,
			total_height: 155,
		),
		retina: (
			x: 190,
			y: 0,
			width: 84,
			height: 86,
			image: "sprites@2x.png",
			total_width: 350,
			total_height: 310,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
