$sprites: (
	"arr-left": (
		normal: (
			x: 140,
			y: 0,
			width: 17,
			height: 69,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 280,
			y: 0,
			width: 34,
			height: 138,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"arr-right": (
		normal: (
			x: 159,
			y: 0,
			width: 17,
			height: 69,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 318,
			y: 0,
			width: 34,
			height: 138,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"arrow-down": (
		normal: (
			x: 159,
			y: 71,
			width: 15,
			height: 9,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 318,
			y: 142,
			width: 30,
			height: 18,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"mail": (
		normal: (
			x: 50,
			y: 0,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 100,
			y: 0,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"play": (
		normal: (
			x: 0,
			y: 0,
			width: 48,
			height: 48,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 0,
			y: 0,
			width: 96,
			height: 96,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"search": (
		normal: (
			x: 95,
			y: 45,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 190,
			y: 90,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"telegram": (
		normal: (
			x: 0,
			y: 50,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 0,
			y: 100,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"viber": (
		normal: (
			x: 45,
			y: 50,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 90,
			y: 100,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
	"whatsup": (
		normal: (
			x: 95,
			y: 0,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 176,
			total_height: 93,
		),
		retina: (
			x: 190,
			y: 0,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 352,
			total_height: 186,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
